<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\assets\css\APlayer.min.css"><script src="\assets\js\APlayer.min.js" class="aplayer-secondary-script-marker"></script><link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/hint.css/2.4.1/hint.min.css">

#sidebar #sidebar-menus .menus_items .site-page
{
    text-align: center;
}

@font-face 
{
    font-family: 'a';
    src: url("FZYouHJW_503L.ttf");
    font-weight: normal;
    font-style: normal;
}
#article-container .flink .flink-list > .flink-list-item::before {
    background-color: var(--skb);
}
#article-container .flink .flink-list > .flink-list-item
{
    border: 2px dashed var(--ska);
}
#article-container .flink .flink-list > .flink-list-item a .flink-item-icon
{
    border-radius: 1000px;
    border: 3px solid var(--ska);
    padding: 0;
}
#article-container .flink .flink-list > .flink-list-item a .flink-item-icon img
{
    margin: 0;
}
.img-alt
{
    margin: 10px !important;
    font-size: small !important;
    padding: 0 !important;
}
.img-alt
{
    text-indent: 0 !important;
}
article p
{
    font-family: 'a' !important;
    font-size: 19px !important;
    text-indent: 2em;
}
@font-face 
{
    font-family: 'b';
    src: url("本墨咏黑.ttf");
    font-weight: normal;
    font-style: normal;
}
body
{
    overflow-y:overlay !important;
}
*
{
    font-family: 'b';


    -moz-user-select: none;

    -o-user-select:none;

    -khtml-user-select:none;

    -webkit-user-select:none;

    -ms-user-select:none;

    user-select:none;

}
::selection
{
    background-color: var(--ska);
    color: white;
}
/*整个滚动条的样式*/
*::-webkit-scrollbar{
    background-color: rgba(226, 255, 226, 0);
    width: 7px;
}
/*滚动条轨道样式*/
*::-webkit-scrollbar-track{
    background-color: #f1f1f100;
    border: 0px solid #f1f5fa;
    padding-right: 2px;
}
/*滚动条滑块样式*/
*::-webkit-scrollbar-thumb{
    background-color: var(--ske);
}
/*滚动条上的按钮--垂直滚动条向上按钮*/
*::-webkit-scrollbar-button:decrement {
    height: 0px;
    background: rgba(255, 166, 0, 0) 0px -2px no-repeat;
    border:0px solid #F1F1F1;
}
/*滚动条上的按钮--垂直滚动条向下按钮*/
*::-webkit-scrollbar-button:increment {
    height: 0px;
    background: rgba(158, 233, 233, 0) 0px -2px no-repeat;
    border:0px solid #F1F1F1;
}
#sidebar #menu-mask
{
    backdrop-filter: blur(5px) !important;
    background-color: rgba(0, 0, 0, 0.349);
}
#nav #toggle-menu
{
    display: inline !important;
}
.skfoot
{
    backdrop-filter: blur(7px);
    margin-top: 18px;
    padding: 20px;
    border-top: 2px rgba(255, 255, 255, 0.299) solid;
}
#footer-wrap
{
    padding: 40px 0 0px 0 !important;
}
#footer
{
    background-attachment: fixed !important;
}
#footer-wrap a
{
    color: rgba(255, 255, 255, 0.799);
    font-weight: 600;
}

  #pagination .page-number.current {
    background: var(--ska) !important;
}
#aside-content .card-info #card-info-btn {
    background-color: var(--ska);
    color: white;
    border-radius: 40px 40px 0 40px;
    box-shadow: none;
    transition-duration: 350ms;
}#aside-content .card-info #card-info-btn:hover {
    background-color: var(--ska);
    box-shadow: 0 5px 5px 0px var(--skb);
}
#aside-content .card-webinfo .webinfo .webinfo-item div:first-child
{
    color: var(--skc);
}
#rightside > div > button, #rightside > div > a {
    border-radius: 50px;
    background-color: var(--ska);
    color: white;
    transition-duration: 300ms;
}
#rightside > div > button:hover, #rightside > div > a:hover {
    background-color: var(--ska);
    opacity: 0.7;
    transition-duration: 300ms;
    transform: scale(1.1); 
}
.article-sort-item-img {
    border-radius: 10px;
}
#pagination .page-number.current {
    border-radius: 10px;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a, #aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover
{
    padding-left: 14px !important;
    background-color: rgba(0, 0, 0, 0.043) !important;
    
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a, #aside-content .card-categories ul.card-category-list > .card-category-list-item a
{
    margin-bottom: 4px !important;
    transition-duration: 300ms;
    padding: 2px 2px 2px 8px !important;
    border-radius: 8px !important;
}
#recent-posts > .recent-post-item >.recent-post-info > .article-title:hover {
    color: var(--ska) !important;
    text-decoration: none !important;
}

/*.framework-info
{
    
    opacity: 0.82;
}*/

    #aside-content #card-toc .toc-content .toc-link.active {
        background: var(--ska);
        color: #fff;
        border-radius: 4px !important;
    }
@media(max-width:900px) 
{
    .recent-post-item
    {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
    }
    .recent-post-item
    {
        margin: 10px 30px 10px 30px;
        }
    #post
    {
        width: 100% !important;
        padding: 5%;
        padding-top: 40px !important;
        box-shadow: none !important;
    }
    #aside-content > .card-widget:first-child
    {
        box-shadow: none !important;
    }
    #aside-content
    {
        width: 80%;
        margin-left: 10%;
    }
}

#page
{
    box-shadow: none !important;
}
#archive
{
    box-shadow: none !important;
}
#tag
{
    border: none !important;
    box-shadow: none !important;
}
#category
{
    box-shadow: none;
}
#post
    {
        box-shadow: none !important;
    }
#nav .site-page
{
    padding: 4px;
    border-radius: 8px !important;
}

#post .tag_share .post-meta__tags
{
    border-color: var(--ska);
    color: var(--ska);
    border-radius: 4px;
}
#post .tag_share .post-meta__tags:hover
{
    color: white;
    opacity: 0.7;
}
hr {
    position: relative;
    margin: 40px auto;
    border: none;
    border-bottom: 2px dashed var(--ska);
    width: calc(100% - 4px);
}
hr::before
{
    color: var(--ska);
}
#aside-content .card-info .author-info__description
{
    margin-top: -6px !important;
}
.gt-container .gt-user
{
    opacity: 0.08;
}
.gt-container .gt-user:hover
{
    opacity: 1;
}
.gt-container .gt-comment-admin .gt-comment-content
{
    
    transition-duration: 400ms !important;
    background-color: rgba(0, 0, 0, 0.040) !important;
    box-shadow: none !important;
    padding-bottom: 20px !important;
    border-radius: 0 10px 10px 20px !important;
    padding: 25px !important;
    color: var(--font-color) !important;
}
.gt-container .gt-comment-admin .gt-comment-content:hover
{
    
    box-shadow: 0 0 23px rgba(0, 0, 0, 0.082) !important;
    background-color: rgba(0, 0, 0, 0) !important;
}
.gt-container .gt-avatar img
{
    border: 3px solid rgba(0, 0, 0, 0.142);
}
.gt-container .gt-header-controls .gt-btn
{
    background-color: var(--ska) !important;
    color: white !important;
    border: none !important;
    border-radius: 20px 15px 0 20px !important;
    transition-duration: 300ms;
    box-shadow: 0 5px 5px 0px var(--skb);
    border: none !important;
}
.gt-container .gt-header-controls .gt-btn:hover
{
    opacity: 0.7;
    box-shadow: none;
}
.gt-container .gt-avatar img
{
    border-radius: 100px !important;
}
.gt-container .gt-header-textarea
{
    background-color: rgba(0, 0, 0, 0.027) !important;
    padding-top: 15px !important;
    border-radius: 15px 20px 0 15px !important;
    border: 1px dashed rgba(0, 0, 0, 0.027) !important;
    min-height: 10px !important;
    resize: vertical !important;
    color: var(--font-color);
}
.gt-container .gt-header-textarea:focus
{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.082);
    padding: 15px !important;
    font-size: 17px !important;
    transition-duration: 100ms;
    background-color: rgba(255, 255, 255, 0) !important;
}
.gt-container .gt-header-textarea:hover
{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.082);
    background-color: rgba(255, 255, 255, 0) !important;
}
.gt-container .gt-popup
{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.075);
    border-radius: 10px;
    border: none !important;
}
#aside-content .item-headline
{
    color: var(--ske);
}
#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap .sticky
{
    color: var(--ska)!important;
}
#article-container a
{
    color: var(--ska);
}
#article-container a:hover
{
    border-color: var(--ska);
}
#post .post-copyright .post-copyright-meta
{
    color: var(--skc)!important;
}
#post .post-copyright
{
    border: none !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.082);
    border-radius: 14px;
    padding-top: 21px !important;
}
#post .post-copyright:hover
{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.082) !important;
}
.gt-container .gt-btn
{
    background-color: var(--ska)!important;
    border: none !important;
    border-radius: 8px !important;
}

.site-page:hover
{
    background-color: rgba(0, 0, 0, 0.055) !important;
}
.pagination
{
    position: fixed !important;
    bottom: 20px !important;
    z-index: 9999 !important;
}
.pagination:before
{
    content:'';
    position: absolute;
    padding: 0;
    line-height: 1.4em;
    bottom: 40px;
    left: 10px;
    background-color: var(--ska);
    color: white;
    padding-top: 3px;
    font-size: 8px;
}
.post-copyright
{
    padding-right: 30px !important;
}
.avatar-img
{
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.233);
    transform: scale(0.9);
    
    transition: 300ms;
}
.avatar-img:hover
{
    box-shadow: none;
    transform:translateY(20px) scale(1.1);
}
.recent-post-item
{
    box-shadow:  20px 20px 60px #d9d9d9,
             -20px -20px 60px #ffffff ;
}
#page-header #site_social_icons {
    display: block !important;
}

.fa-pencil-alt:before, .fa-pencil:before
{
    display: none !important;
}

.post-title
{
    text-align: left;
}
#page-header #post-info
{
    bottom: 50px !important;
}
#post-info #post-meta a
{
    color: var(--font-color) !important;
}
#post-info #post-meta a:hover
{
    color: var(--ska) !important;
}
#post-info #post-meta
{
    position: absolute !important;
    left: 0;
    bottom: -100px;
    background-color: var(--card-bg);
    color: var(--font-color) !important;
    width: 600px !important;
    padding: 13px !important;
    padding-left: 80px !important;
    border-radius: 0 11px 18px 0;
    border: 2px solid var(--ska);
    padding: 15px 5px 15px 15px;
    text-align: left !important;
    border-left: none;
}
#page-header.post-bg {
    height: 90vh !important;
    background-attachment: fixed !important;
}
@media(max-width:900px) 
{
    #page-header.post-bg
    {
        height: 450px !important;
    }
    .post-title
    {
        text-align: center;
    }   
    #post-info #post-meta
    {
        text-align: center !important;
        padding: 20px !important;
        width: 100% !important;
        border: none !important;
        border-radius: 0 !important;
        border-bottom: 2px dashed var(--ska) !important;
    }
}
#page-header.post-bg:before
{
    background-color: rgba(0, 0, 0, 0.11);
}
@media(max-width:900px) 
{
    #page-header.post-bg:before
    {
        display: none !important;
    }
}
#post
{
    border-radius: 14px;
    padding: 50px 20px -20px 40px !important;
    backdrop-filter: blur(17px);
    margin-top: 40px !important;
}
@media (max-width: 900px)
{
#post
{
    transform: unset !important;
    padding-top: 30px !important;
}

}

#aside-content .card-widget
{
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0) !important;
    backdrop-filter: blur(29px);
}
#aside-content .aside-list > .aside-list-item .content > .title:hover, #aside-content .aside-list > .aside-list-item .content > .comment:hover
{
    color: var(--ska);
}
#article-container img
{
    margin: 0;
    margin-left: 20%;
    width: 60%;
    border-radius: 8px;
}
.gt-container .gt-comment-username
{
    color: var(--ska) !important;
}
.gt-container .gt-header-controls-tip
{
    color: var(--ska) !important;
}
.gt-container .gt-svg svg
{
    display: none;
}
.gt-container .gt-ico-text
{
    color: var(--ska) !important;
    opacity: 0.6;
}
#recent-posts > .recent-post-item .post_cover
{
    border-radius: 8px;
}

@media (max-width: 760px)
{
    
    #recent-posts > .recent-post-item .post_cover    {
        height: 180px !important;
    }
    iframe
    {
        
        margin-left: 10% !important;
        width: 80%;
        border-radius: 8px;
    }
    #article-container img
    {
        margin-left: 10%;
        width: 80%;
        border-radius: 8px;
    }
}
.imgHover, .article-sort-item-img img, #recent-posts > .recent-post-item .post_cover img.post_bg, #aside-content .aside-list > .aside-list-item .thumbnail > img
{
    border-radius: 8px !important;
}
#aside-content .aside-list > .aside-list-item .thumbnail
{
    border-radius: 8px;
}
.reward-all
{
    border-radius: 8px !important;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.041) !important;
    padding: 20px !important;
}
.reward-item
{
    height: unset !important;
    width: unset !important;
}
.post-reward .reward-button
{
    background: unset !important;
    color: var(--ska) !important;
}
.post-reward
{
    margin: 0 !important;
}
.sknotice
{
    
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.041) !important;
    padding: 20px !important;
}
blockquote {
    margin: 0 0 0 !important;
    padding: 12px !important;
    border-left: unset !important;
    background-color: unset !important;
    font-size: 20px;
}
.hbe-button
{
    background: var(--ska) !important;
    border-bottom: none !important;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.041) !important;
    font-weight: unset !important;
    text-shadow: none !important;
    text-align: center !important;
    border-radius: 7px !important;
    height: unset !important;
    width: unset !important;
    padding: 8px !important;
    transition: all 300ms;
}

.hbe-button:after
{
    display: none !important;
}
.hbe-input-label-default
{
    font-size: 15px !important;
}
.hbe-input-label-default::after
{
    height: 1px !important;
    background: var(--ska) !important;
}
.hbe-input-label-default::before
{
    background-color: var(--ska) !important;
    border-radius: 0 !important;
}



.skyy
{
    padding-left: 20%;
    position: unset;
    top: 160px;
    z-index: 99;
}
@media (max-width: 760px)
{
    .skyy
    {
        padding-left: 10%;
        position: unset !important;
        height: 100px;
    }
}



b, strong
{
    color: white !important;
    background-color: var(--ska) !important;
    font-weight: normal !important;
    padding: 2px 3px 0 3px !important;
}
@media (min-width: 900px)
{
    
#aside-content #card-toc
{
    box-shadow: none !important;
}
}



blockquote > :last-child{
    
    font-size: larger;
    display: block;
    margin: 0 30% 0 30%;
    border-radius: 18px 18px 18px 0;
    padding: 8px;
    letter-spacing: 2px;
    line-height: 1.5em;
}
blockquote > :last-child:before
{
    content:'“';
}
blockquote > :last-child:after
{
    content:'”';
}







.search-dialog
{
    background-color: rgba(255, 255, 255, 0.089);
    backdrop-filter: blur(5px);
}
.search-dialog .search-nav .search-dialog-title
{
    color: white !important;
}
#local-search .search-dialog .local-search-box input
{
    padding: 6px;
    padding-left: 15px;
    padding-top: 12px;
    border-radius: 4px;
    border: none;
    border-bottom: 3px solid #0aa34500;
    background-color: rgba(255, 255, 255, 0.5) !important;
    transition-duration: 0ms;
    color: rgba(0, 0, 0, 0.822);
}
#local-search .search-dialog .local-search-box input:hover
{
    background-color: white !important;
    transition-duration: 300ms;
}
#local-search .search-dialog .local-search-box input:focus
{
    
    backdrop-filter: blur(8px);
    background-color: white !important;
    border-bottom: 3px solid var(--ska);
}
#local-search .search-dialog .local-search__hit-item .search-result
{
    color: white;
}
#local-search .search-dialog .local-search__hit-item a
{
    color: white;
}
.pagination-post
{
    border-radius: 8px !important;
}
#pagination .pull-full
{
    border-radius: 8px !important;
}

.gt-container a
{
    color: var(--ska) !important;
    border: none !important;
}
.gt-container a:hover
{
    opacity: 0.7;
}

#yiyan
{
    border: 0px dashed var(--ska);
    background: url(http://api.muvip.cn/api/bing) !important;
    background-size: cover !important;
    color: white !important;
    width: 90% !important;
    margin-left: 5% !important;
}

#nav .site-page:not(.child):after
{
    display: none !important;
}

.relatedPosts > .relatedPosts-list > div
{
    border-radius: 8px !important;
}

#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap a:hover
{
    color: var(--ska) !important;
}

#nav .menus_items .menus_item .menus_item_child li
{
    background-color: unset !important;
}
#aside-content #card-toc .toc-content .toc-link:hover
{
    color: var(--ska) !important;
}
#aside-content .card-tag-cloud a:hover
{
    color: var(--ska) !important;
}
.fa-close:before, .fa-multiply:before, .fa-remove:before, .fa-times:before, .fa-xmark:before:hover 
{
    color: var(--skc) !important;
}
#page-header.nav-fixed #nav
{
    background-color: white;
    backdrop-filter: blur(8px);
}
#page-header.nav-fixed #nav a, #page-header.nav-fixed #nav #site-name, #page-header.nav-fixed #nav #toggle-menu:hover 
{
    color: var(--ska) !important;
}
#page-header.post-bg:before:hover
{
    background-color: rgba(255, 255, 255, 0) !important;
}
.article-sort-item-title:hover
{
    color: var(--ska) !important;
}
#recent-posts > .recent-post-item >.recent-post-info > .content
{
    display: none;
}
.hint--error:after
{
    background-color: var(--ska) !important;
    text-shadow: none !important;
}
#post .post-copyright:before {
    font-size: 8em !important;
    top: 0;
    color: var(--skb) !important;
    z-index: -1 !important;
}
#gitalk-container .gt-meta
{
    border-bottom: none !important;
    
}
.gt-container .gt-popup
{
    background-color: var(--card-bg) !important;
}
.post-copyright
{
    overflow: hidden !important;
}
#post .tag_share .post-meta__tags:hover
{
    background-color: var(--ska) !important;
}
.search-dialog .search-nav
{
    margin-top: 20px !important;
}
table
{
    margin-bottom: 15px !important;
}
.skbo
{
    padding: 20px;
    width: 60%;
    margin-left: 20%;
    border-radius: 12px;
    backdrop-filter: blur(0px);
}
.skbo h1
{
    display: block;
    border-bottom: 1px dashed var(--ska);
    line-height: 1em !important;
    margin: 0 !important;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.121) !important;
    font-size: 18px !important;
}
hr
{
    margin: 20px 0 20px 0 !important;
}
#pagination.pagination-post
{
    margin: 0 !important;
    margin-bottom: 80px !important;
}
div.author-info__description a
{
    color: var(--ska) !important;
    border-bottom: 1px dashed var(--ska) !important;
}
div.author-info__description a:hover
{
    color: var(--ska)88 !important;
    border-bottom: 1px dashed var(--ska) !important;
}
div.post-copyright a
{
    color: var(--ska) !important;
    border-bottom: 1px dashed var(--ska) !important;
    text-decoration: none !important;
}
div.post-copyright a:hover
{
    color: var(--ska)88 !important;
    border-bottom: 1px dashed var(--ska) !important;
}
.layout > div:first-child:not(.recent-posts)
{
    padding-top: 40px !important;
}
article iframe
{
    border-radius: 8px !important;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.171);
}
:root
{
    --global-font-size: 15px !important;
}
#post-comment .comment-head #comment-switch .switch-btn
{
    background-color: var(--ska);
}
#post-comment .comment-head #comment-switch .switch-btn.move
{
    background-color: var(--ske);
}
#post-comment .comment-head #comment-switch .first-comment
{
    color: var(--ska);
}
#post-comment .comment-head #comment-switch .second-comment
{
    color: var(--ske);
}
@media (max-width: 900px)
{
    iframe
    {
        height: 50vh !important;
    }
    .skbo
    {
        width: 80%;
        margin-left: 10%
    }
    #yiyan
    {
        display: none !important;
    }
    .card-widget.card-info
    {
        display: none !important;
    }
    .card-widget.card-categories
    {
        display: none !important;
    }
    .card-widget.card-tags
    {
        display: none !important;
    }
    .card-widget.card-webinfo
    {
        display: none !important;
    }
    .recent-post-item
    {
        box-shadow: none !important;
        border-radius: unset !important;
        border-bottom: 1px dashed var(--ska) !important;
    }
}
@media (min-width: 900px)
{
    .post_cover.right
    {
        display: none;
    }
}
/*評論*/
.gsc-reactions-count
{
    display: none !important;
}



/*
<div class="skyy">
<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=293 height=86 src="//music.163.com/outchain/player?type=2&id=434871406&auto=1&height=66"></iframe>
</div>
*/


:root
{
    --ska: #a28f8f;
    --skb: #f3e6c1a4;
    --skc: #c5b8a5;
    --ske: #8696a7;
    --font-color: #6b5152 !important;
}


/*
特别主题色代码
:root {
    --global-bg: #d1e2d1 !important;
    --card-bg: #d1e2d1 !important;
    --text-highlight-color: var(--ska);
    
  }
  #page-header.not-top-img #nav
  {
    background-color: #d1e2d1bd !important;
  }
#post
{
    background-color: #d1e2d1bd !important;
}